* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.underline-effect {
    position: relative;
    display: inline-block;
}

.underline-effect::before {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.5s ease;
}

.underline-effect:hover::before {
    width: 100%;
}

.logo {
    width: 14rem;
}

.navbar-nav {
    gap: 20px;
}

.container00 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../img/home/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container02 {
    display: flex;
    padding-top: 200px;
    flex-direction: column;
}

.container03 {
    min-height: 100vh;
    background-image: url(../img/home/03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container04 {
    min-height: 100vh;
    background-image: url(../img/home/02.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container05 {
    min-height: 100vh;
    background-image: url(../img/home/04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container06 {
    min-height: 170px;
    background-color: #000;
}

.subtitle {
    text-align: left;
    max-width: 500px;
}

.scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-top: 35px;
    text-align: left;
}

.copy {
    font-size: 15px;
    color: $copyright-footer;
}

.social-media {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #ffff;

    &:hover {
        color: $hover-color !important;
    }
}

.bi {
    width: 8rem;
}

.plus {
    width: 150px;
    height: 55px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 992px) {
    .navbar-nav {
        gap: 0;
    }
    .logo {
        width: 11rem;
    }
}
@media (max-width: 313px) {
    .navbar-toggler {
        padding: 0;
    }

    .logo {
        padding-top: 1.1rem;
    }
}