* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 14rem;
}

.container00 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../../src/img/home/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container02 {
    flex: 1;
    display: flex;
    padding-top: 200px;
    flex-direction: column;
}

.container03 {
    min-height: 100vh;
    background-image: url(../../../src/img/home/03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container04 {
    min-height: 100vh;
    background-image: url(../../../src/img/home/02.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container05 {
    min-height: 100vh;
    background-image: url(../../../src/img/home/04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container06 {
    min-height: 170px;
    background-color: #000;
}

.subtitle {
    text-align: left;
    max-width: 500px;
}

.scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-top: 35px;
}

.copy {
    font-size: 12px;
    color: $copyright-footer;
}

.social-media {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: #ffff;

    &:hover {
        color: $hover-color !important;
    }
}

.bi {
    color: rgb(247, 246, 246);
    animation: downUp linear;
}

.plus {
    width: 150px;
    height: 55px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes downUp {
    0% {
        transform: translateX(1.1);
    }
    25% {
        transform: translateX(0.8);
    }
    75% {
        transform: translateX(1.1);
    }
    100% {
        transform: translateX(0.9);
    }
}