* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-soon {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(50, 50, 50, 1) 100%);
}

.text-soon {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 150px;
    color: #ffff;
    cursor: pointer;
}

.a-soon {
    text-decoration: none;
    
}

@media (max-width: 690px) {
    .text-soon {
        font-size: 70px;
    }
}
@media (max-width: 470px) {
    .text-soon {
        font-size: 40px;
    }
}